.NavbarWrapper
{
	width: 100%;
	height: var(--navbar-height);
	background-color: #333;
	color: white;

	position: relative;
	
	display: grid;
	grid-template-columns: 20px 300px 20px auto;
	grid-template-rows: auto;
	grid-template-areas: 
	". title . navItems";
}

.Title
{
	grid-area: title;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	font-size: 1.6em;
}

.NavigationItems
{
	grid-area: navItems;

	display: flex;
	width: 200px;
	justify-content: space-between;
	height: 100%;
}

.SingleNavigationItem
{
	position: relative;
	height: 100%;
	width: 95px;
	cursor: pointer;
}

.SingleNavigationItem:hover
{
	background-image: linear-gradient(to bottom, #5552, rgba(0, 0, 0, 0));
}

.TextContainer
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.SelectedItem
{
	background-image: linear-gradient(to bottom, #aaa2, rgba(0, 0, 0, 0));
}

@media only screen and (max-width:700px) {
	/* For mobile phones: */
	.NavbarWrapper 
	{
		display: grid;
		grid-template-columns: 20px auto;
		grid-template-rows: auto;
		grid-template-areas: 
		". title";
	}

	.NavigationItems
	{
		display: none;
	}

}