.Wrapper
{
	width: 100%;
	height: calc(100% - var(--navbar-height));
	display: flex;

	--map-width: 40%;
}

.MapViewWrapper
{
	height: 100%;
	width: var(--map-width);
}

.SelectorsWrapper
{
	height: 100%;
	width: calc(100% - var(--map-width));

	padding: 20px;
}