.Wrapper
{
	width: 100%;
	height: calc(100% - var(--navbar-height));
	display: flex;

	--map-width: 40%;
}

.MapViewWrapper
{
	height: 100%;
	width: var(--map-width);
}

.SelectorsWrapper
{
	height: 100%;
	width: calc(100% - var(--map-width));

	padding: 20px;
}

.ControlsWrapper
{
	display: flex;
	width: 70%;
	height: 38px;
	justify-content: space-evenly;
}

.TableWrapper
{
	width: 100%;
	margin-top: 50px;
}

.SwapIconWrapper
{
	height: 100%;
	width: 16px;
	position: relative;
}

.SwapIcon
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}